body {
    margin: 0px;
    padding: 0px;
    color: #000000;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
}

a {
    color: #a32c14;
}
a:hover {
    text-decoration: none;
}

.clear {
    clear:both;
}


form label {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
}
span.require, span.error {
    color: #a32c14;
}

input[type="text"], input[type="password"] {
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    width: 220px;
    height: 21px;
    padding: 0px 5px;
    border: 1px solid #a0a0a0;
}

input[type="button"], input[type="submit"] {
    color: white;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    background: #a32c14;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: none;
    width: 180px;
    height: 21px;
    padding: 0px 10px;
    margin-top: 7px;
    margin-left: 153px;
    cursor: pointer;
}

textarea {
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    width: 373px;
    height: 50px;
    padding: 0px 5px;
    border: 1px solid #a0a0a0;
}

.wrapper {
    width: 1100px;
    margin: auto;
    margin-top: 0px;
}

.header {
    width: 1100px;
    margin-top: 10px;
    position: fixed;
    top: 0px;
    z-index: 10;
}
    .header .left {
       width: 875px;
       height: 80px;
       float: left;
       background: #a32c14;
    }
        .header .left .logo {
            width: 310px;
            height: 76px;
            margin-left: 30px;
            float: left;
        }
        .header .left .contact {
            width: 530px;
            height: 40px;
            float: right;
        }    
            .header .left .contact .phone {
                width: 460px;
                height: 40px;
                float: left;
            }
                .header .left .contact .phone p {
                    margin: 0px;
                    font-size: 23px;
                    text-align: right;
                    line-height: 38px;
                    margin-right: 10px;
                    color: #bbbbbb;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                }
            .header .left .contact .callback {
                width: 30px;
                padding-top: 5px;
                float: left;
            }    
            .header .left .contact .email {
                width: 30px;
                padding-top: 9px;
                float: left;
            }
        .header .left .menu {
            width: 530px;
            float: right;
        }
            .header .left .menu ul {
                margin: 0px;
                padding: 0px;
            }
            .header .left .menu ul li {
                float: left;
                display: inline;
                height: 35px;
                line-height: 35px;
                font-size: 22px;
                text-align: center;
                border-top: 2px dotted #9f6357;
                border-left: 2px dotted #9f6357;
            }    
            .header .left .menu ul li:first-child {
                border-left: none;
            }
            .header .left .menu ul li span {
                display: block;
                color: #ffffff;
                cursor: pointer;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                text-transform: uppercase;
                padding: 0px 14px;
            }
            .header .left .menu ul li ul {
                display: none;
                position: absolute;
                margin: 0px;
                padding: 0px;
                list-style: none;
            }
            .header .left .menu ul li ul li {
                float: none;
                display: block;
                background: url('/image/menu_bg.png');
                font-size: 12px;
                height: 24px;
                line-height: 24px;
                border: none;
                text-align: left;
            }
            .header .left .menu ul li ul li:hover {
                background: #666666;
            }
            .header .left .menu ul li ul li a {
                display: block;
                color: #ffffff;
                text-shadow: none;
                text-decoration: none;
                text-transform: uppercase;
                padding: 0px 10px;
            }
            .header .left .menu ul li:hover ul {
                display: block;
            }
            
    .header .right {
        width: 180px;
        height: 80px;
        float: right;
        background: url('/image/right_bg.png');
    }
        .header .right .menu {
            position: absolute;
            width: 170px;
            margin-top: 0px;
            text-align: right;
        }
        .header .right .menu * {
            display: block;
            font-size: 12px;
            text-align: right;
            padding-top: 4px;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
        }
        .header .right .client {
            position: absolute;
            width: 170px;
            margin-top: 60px;
            text-align: right;
        }
        .header .right .client * {
            font-size: 12px;
            color: #bbbbbb;
            text-decoration: none;
        }
        .header .right .client a.locked {
            padding-right: 17px;
            background: url('/image/locked.png') right no-repeat;
        }
        .header .right .client a.unlocked {
            padding-right: 22px;
            background: url('/image/unlocked.png') right no-repeat;
        }
        .header .right .client a:hover {
            color: #ffffff;
        }

.content {
    width: 930px;
    padding: 20px;
    margin: auto;
    min-height: 420px;
    margin-top: 100px;
    background: url('/image/content_bg.png');
}
    #index .content {
        margin-top: 480px;
    }
    .content .left {
        float: left;
        width: 200px;
    }
        #index .content .left {
            width: 560px;
        }
    .content .right {
        padding-left: 225px;
    }
        #index .content .right {
            padding-left: 565px;
        }
    .content .bottom {
        clear: both;
    }
    .content .body-focus-left {
        float: left;
        width: 300px;
    }
    .content .body-focus-left .male_female {
        position: absolute;
        z-index: 3;
    }   
        .content .body-focus-left .male_female a {
            color: #b0b0b0;
        }
        .content .body-focus-left .male_female a.selected {
            color: #a32c14;
        }
    .content .body-focus-right {
        padding-left: 325px;
        min-height: 440px;
    }

.bottom_25 {
    position: absolute;
    margin-top: -25px;
    margin-left: 6px;
}

.cart, .compare, .body-focus, .price-list {
    position: fixed;
    width: 100px;
    height: 50px;
}
.cart, .compare {
    margin-left: -50px;
}
.body-focus, .price-list {
    margin-left: 1050px;
}
.cart, .body-focus {
    top: 155px;
}
.compare, .price-list {
    top: 300px;
}
.cart {
    background: url('/image/side_arrow_cart.png');
}
.compare {
    background: url('/image/side_arrow_compare.png');
}
.body-focus {
    background: url('/image/side_arrow_bodyfocus.png');
}
.price-list {
    background: url('/image/side_arrow_price.png');
}

    .cart .title {
        position: absolute;
        margin-top: 7px;
        margin-left: 8px;
    }
    .cart .sum {
        position: absolute;
        margin-top: 30px;
        margin-left: 8px;
        color: #ffffff;
    }
    .cart .count {
        position: absolute;
        margin-top: 18px;
        margin-left: 72px;
        color: #ffffff;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .compare .title {
        position: absolute;
        margin-top: 10px;
        margin-left: 8px;
    }
    .compare .count {
        position: absolute;
        margin-top: 18px;
        margin-left: 72px;
        color: #ffffff;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .body-focus .title {
        margin-top: 10px;
        margin-right: 8px;
        float: right;
        text-align: right;
    }

    .price-list .title {
        margin-top: 10px;
        margin-right: 8px;
        float: right;
        text-align: right;
    }
    
    .cart a, .compare a, .body-focus a, .price-list a {
        color: #bbbbbb;
        text-decoration: none;
    }
    .cart a:hover, .compare a:hover, .body-focus a:hover, .price-list a:hover {
        color: #ffffff;
    }

.footer {
    width: 850px;
    height: 40px;
    background: #a32c14;
    margin: 10px 0px 10px 250px;
}
    .footer .search {
        float: left;
        height: 40px
    }
        .footer .search .text, .footer .search .submit {
            float: left;
            margin: 8px 0px 0px 8px;
        }
        .footer .search .text input {
            width: 180px;
            height: 21px;
            border: none;
            background: #ffffff;
            padding: 0px 5px;
        }

        .footer .search .submit input {
            width: 21px;
            height: 21px;
            border: none;
            background: url('/image/search.png');
            cursor: pointer;
            display: inline;
            margin: 0px;
        }
    .footer .copyright {
        float: right;
        height: 40px
    }
        .footer .copyright p {
            margin: 0px;
            line-height: 40px;
            text-align: right;
            padding-right: 15px;
            font-size: 12px;
            color: #E8E8E8;
        }

.teaser-wrapper {
    
}
    .teaser-slideshow {
        margin: auto;
        margin-top: 10px;
    }
        .teaser-slideshow img {
            width: 540px;
            height: 180px;
        }
        
        .teaser-pager {
            position: absolute;
            width: 540px;
            margin-top: -25px;
            text-align: right;
        }
            .teaser-pager span {
                font-family: Arial;
                font-size: 22px;
                width: 15px;
                height: 10px;
                display: inline-block;
                color: #222222;
                cursor: pointer;
            }
            .teaser-pager span.cycle-pager-active {
                color: #b32529;
            }

h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: right;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.catalogue h2, #index h2 {
    font-weight: normal;
    text-align: right;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.catalogue .product {
    float: left;
    width: 210px;
    height: 220px;
    padding: 10px;
    margin-bottom: 15px;
}
    #card-content-options .catalogue .product {
        width: 250px;
        margin-left: 50px;
    }
    .catalogue .product .product-image {
        text-align: center;
        width: 200px;
        height: 180px;
    }
    .catalogue .product .product-description {
        display: none;
        position: absolute;
        width: 180px;
        height: 160px;
        background: url('/image/content_bg.png');
        padding: 10px;
        overflow: hidden;
    }
        .catalogue .product .product-description * {
            margin-top: 0px;
        }
        .catalogue .product .product-description a {
            color: #000000;
            text-decoration: none;
        }
    .catalogue .product .product-title {
        width: 210px;
        height: 30px;
        margin-top: 10px;
    }
        .catalogue .product .product-title .product-article {
            display: table-cell;
            vertical-align: middle;
            width: 75px;
            height: 30px;
            font-size: 12px;
            font-weight: bold;
            text-align: left;
        }
        .catalogue .product .product-title .product-price {
            display: table-cell;
            vertical-align: middle;
            width: 75px;
            height: 30px;
            font-size: 12px;
            font-weight: bold;
            color: #a32c14;
            text-align: center;
        }
        .catalogue .product .product-title .product-cart {
            display: table-cell;
            text-align: right;
            vertical-align: middle;
            width: 25px;
            height: 30px;
        }
        .catalogue .product .product-title .product-compare {
            display: table-cell;
            text-align: right;
            vertical-align: middle;
            width: 25px;
            height: 30px;
        }
            .catalogue .product .product-title .product-cart.selected *,
            .catalogue .product .product-title .product-compare.selected * {
                opacity: 0.5;
                cursor: default;
            }

.card-title {
    width: 200px;
}
    .card-title h1 {
        text-align: left;
        margin-left: 10px;
        width: 150px;
    }
    .card-title h2 {
        text-align: left;
        margin-left: 10px;
        width: 150px;
    }
    .card-title p.status {
        color: #bbbbbb;
        font-style: italic;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .card-title .favourite {
        position: absolute;
        margin-left: 170px;
    }
        .card-title .favourite a {
            display: block;
            width: 26px;
            height: 21px;
        }
        .card-title .favourite a.like {
            background: url('/image/card_like.png');
        }
        .card-title .favourite a.unlike {
            background: url('/image/card_unlike.png');
        }
.card-image {
    text-align: center;
    width: 200px;
    height: 180px;
}
.card-rating {
    text-align: center;
    width: 200px;
    margin-top: 10px;
}
    .card-rating .vote{
        cursor: default;
    }
    .card-rating .vote .star{
        display: inline-block;
        width: 17px;
        height: 17px;
        background: url(/image/stars.png) 17px 0px;
    }
    .card-rating .vote .star.active{
        background: url(/image/stars.png) 0px 0px;
    }
.card-price {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: #a32c14;
    text-align: center;
    margin-top: 10px;
}
.card-cart, .card-compare {
    text-align: right;
    width: 200px;
    margin-top: 10px;
}
    .card-cart a, .card-compare a {
        display: inline-block;
        color: white;
        background: #a32c14;
        text-transform: uppercase;
        text-decoration: none;
        width: 100px;
        padding: 5px 0px;
        text-align: center;
    }
    .card-cart.selected a, .card-compare.selected a {
        color: #a0a0a0;
        background: #808080;
        cursor: default;
    }

.card-tab {
    height: 40px;
    padding-left: 20px;
}
    .card-tab a {
        float: left;
        display: inline;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        color: #ffffff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 38px;
        padding-right: 23px;
    }
    .card-tab a.selected, .card-tab a:hover  {
        color: #000000;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .card-tab a {
        background: left 0px no-repeat;
    }
    .card-tab a.selected, .card-tab a:hover {
        background-position-y: -35px;
    }
    .card-tab a.card-tab-text {
        background-image: url('/image/card_text.png');
    }
    .card-tab a.card-tab-properties {
        background-image: url('/image/card_properties.png');
    }
    .card-tab a.card-tab-photoes {
        background-image: url('/image/card_photoes.png');
    }
    .card-tab a.card-tab-video {
        background-image: url('/image/card_video.png');
    }
    .card-tab a.card-tab-options {
        background-image: url('/image/card_options.png');
    }
    .card-tab a.card-tab-files {
        background-image: url('/image/card_files.png');
    }

.card-content {
    padding-left: 20px;
    padding-top: 10px;
}
    #card-content-video {
        text-align: center;
    }

ul.card-gallery {
    padding: 0px;
    margin: 0px;
}
    ul.card-gallery li {
        padding-right: 10px;
        padding-bottom: 10px;
        list-style: none;
        float: left;
        width: 210px;
        height: 180px;
        text-align: center;
    }

ul.card-list {
    padding-left: 20px;
}

    ul.card-list li {
        padding-bottom: 10px;
    }


.modal-form {
    width: 390px;
    height: 280px;
}

#simplemodal-overlay {
    background-color: #000;
}
#simplemodal-container {
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px; 
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}
#simplemodal-container a.modalCloseImg {
    background: url(/image/close.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -12px;
    right: -13px;
    cursor: pointer;
}


.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.cart-form table {
    width: 100%;
    border-collapse: collapse;
}
.cart-form table td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #a0a0a0;
}
.cart-form table td.name {
    width: 380px;
}
.cart-form table td.price {
    width: 80px;
}
.cart-form table td.quantity {
    width: 100px;
}
.cart-form table td.cost {
    width: 100px;
}
.cart-form table td.delete {
    width: 80px;
}
.cart-form table .cart_image_container {
    display: table-cell;
    width: 120px;
    text-align: center;
    vertical-align: middle;
}
.cart-form table .cart_title_container {
    display: table-cell;
    text-align: left;
    vertical-align: middle
} 
.cart-form table td.title, .cart-form table td.total.price {
    font-size: 14px;
    font-weight: bold;
} 
.cart-form table td.total.price {
    border: none;
}
    .cart-form table td.total.price {
        text-align: left;
    }
.cart-form table td.total.quantity, .cart-form table td.total.cost {
    border: none;
    font-weight: bold;
}
    .cart-form table tr.discount td {
        color: #a32c14;
    }
.cart-form table td.total.name, .cart-form table td.total.delete {
    border: none;
}        
.cart-form table span.quantity {
    font-size: 18px;
    text-align: center;
    margin: 0px 10px;
}
.cart-form table .cart_dec, .cart-form table .cart_inc {
    display: inline-block;
    width: 11px;
    height: 15px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.cart-form table .cart_dec {
    background-image: url('/image/product-dec.png');
}
.cart-form table .cart_inc {
    background-image: url('/image/product-inc.png');
}


.compare-table {
    border-collapse: collapse;
}
.compare-table td {
    padding: 5px;
    width: 140px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #a0a0a0;
}
.compare-table td.title {
    font-weight: bold;
    width: 160px;
}
.compare-table td.equal {
    color: #b0b0b0;
}
.compare-table td.article {
    text-align: left;
}
    .compare-table td.article a {
        display: block;
        margin-bottom: 5px;
    }

.price-list-table {
    width: 100%;
    border-collapse: collapse;
}
    .price-list-table td {
        padding: 5px;
        vertical-align: middle;
        border: 1px solid #a0a0a0;
    }
    .price-list-table td.group {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    .price-list-table td.category {
        font-weight: bold;
        padding-left: 50px;
    }
    .price-list-table td.price {
        font-weight: bold;
        text-align: right;
    }
    .price-list-table tr.odd {
        background: #f0f0f0;
    }

.client_menu {
    text-align: right;
    margin-bottom: 10px;
}
    .client_menu a {
        font-size: 14px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        color: #000000;
        margin-left: 20px;
        text-decoration: none;
    }
    .client_menu a.selected {
        color: #a32c14;
    }

div.purchase {
    padding: 10px;
}
    div p {
        margin: 0px 0px 5px 0px;
    }
    div p.total {
        color: #b32529;
    }
        div p.total b {
            color: #b32529;
        }
    div p.default {
        margin: 5px 0px 5px 0px;
        color: #4d4d4d;
    }
        div p.default a {
            color: #b32529;
        }
    div.purchase.selected {
        background: #ececec;
    }

.pages {
    padding: 10px;
    text-align: right;
}
